* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anek Odia", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  background: #6b705c;
}

.container {
  min-height: 100vh;
}

.meal-container {
  max-width: 1280px;
  margin: 10% auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  color: #f5f3f4;
}

blockquote {
  color: white;
  font-style: italic;
}

.meal-search {
  margin: 20px 0;
}

.food-search-box {
  display: flex;
  align-items: stretch;
  margin: 20px 0;
}

.search-food,
.search-button {
  width: 100%;
}

.search-food {
  padding: 0 10px;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid white;
  color: #6b705c;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: 0;
}

.search-food::placeholder {
  color: #6b705c;
}

.btn {
  cursor: pointer;
  outline: 0;
  font-size: 1.03rem;
}

.search-button {
  width: 50px;
  height: 50px;
  font-size: 1.8rem;
  background-color: white;
  color: #6b705c;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.4s linear;
  -webkit-transition: linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.search-button:hover {
  background-color: #b7b7a4;
  color: white;
}

.recipe-result {
  margin-top: 80px;
}

.recipe-result h2 {
  font-size: 1.6rem;
}

#meal {
  margin: 40px 0;
}

.meal-item {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px rgba(0, 0, 0, 0.2);
  margin-top: 20px 0;
}

.recipe-img img {
  width: 100%;
  display: block;
}

.food-name {
  padding: 15px 5px;
}

.food-name h3 {
  font-size: 1.5rem;
  color: #f5f3f4;
}

.recipe-btn {
  width: 170px;
  text-decoration: none;
  color: #6b705c;
  background-color: #f5f3f4;
  font-size: 1rem;
  font-weight: bolder;
  padding: 10px 0;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-btn:hover {
  background-color: #e6e3e4;
}

/* food details  */

.food-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #6b705c;
  background: #f5f3f4;
  border-radius: 10px;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none; /*food details dont display */
  padding: 20px 0;
}

.food-details::-webkit-scrollbar {
  width: 5px;
}

.food-details::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* js related */
.showRecipe {
  display: block;
}

.food-details-content {
  margin: 20px;
}

.food-details-content p:not(.recipe-category) {
  padding: 10px 0;
}

.recipe-title {
  color: #6b705c;
  padding-bottom: 10px;
}

.recipe-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.6rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.recipe-category {
  width: 100px;
  background-color: white;
  color: #6b705c;
  display: inline-block;
  padding: auto 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/*  */

.recipe-instruction {
  padding: 10px 0;
}

.recipe-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.recipe-link {
  margin: 15px 0;
}

.recipe-link a {
  color: #6b705c;
  font-size: 1.2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-link a:hover {
  opacity: 0.8;
}

.notFound {
  grid-template-columns: 1fr !important;
  color: #f5f3f4;
  font-size: 1.5rem;
  width: 100%;
}

/* Media Query style */
@media screen and (min-width: 600px) {
  .food-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .meal-item {
    margin: 0;
  }
  .food-details {
    width: 700px;
  }
}
@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}
